<?xml version="1.0"?>
<!--usage: roslaunch waypoint_vicon three_waypoint_vicon.launch-->
<launch>
  <arg name="joy_dev" default="/dev/input/js0" />

  <arg name="uri1" default="radio://0/100/2M/E7E7E7E702" />
  <arg name="frame1" default="/vicon/C2/C2" />

  <arg name="uri2" default="radio://0/100/2M/E7E7E7E706" />
  <arg name="frame2" default="/vicon/C6/C6" />

  <arg name="uri3" default="radio://0/100/2M/E7E7E7E707" />
  <arg name="frame3" default="/vicon/C7/C7" />

  <include file="$(find crazyflie_driver)/launch/crazyflie_server.launch">
  </include>

  <node name="joy" pkg="joy" type="joy_node" output="screen">
    <param name="dev" value="$(arg joy_dev)" />
  </node>

  <group ns="crazyflie1">
    <include file="$(find my_crazyflie_driver)/launch/my_crazyflie_add.launch">
      <arg name="uri" value="$(arg uri1)" />
      <arg name="tf_prefix" value="crazyflie1" />
      <arg name="enable_logging" value="False" />
    </include>

    <node name="joystick_controller" pkg="my_crazyflie_controller" type="myController.py" output="screen">
      <param name="use_crazyflie_controller" value="True" />
      <param name="joy_topic" value="/joy" />
    </node>

    <include file="$(find my_crazyflie_controller)/launch/my_cf2.launch">
      <arg name="frame" value="$(arg frame1)" />
    </include>

    <node name="pose" pkg="waypoint_vicon" type="gw11.py" output="screen">
      <param name="frame" value="$(arg frame1)" />
    </node>
  </group>

  <group ns="crazyflie2">
    <include file="$(find my_crazyflie_driver)/launch/my_crazyflie_add.launch">
      <arg name="uri" value="$(arg uri2)" />
      <arg name="tf_prefix" value="crazyflie2" />
      <arg name="enable_logging" value="False" />
    </include>

    <node name="joystick_controller" pkg="my_crazyflie_controller" type="myController.py" output="screen">
      <param name="use_crazyflie_controller" value="True" />
      <param name="joy_topic" value="/joy" />
    </node>

    <include file="$(find my_crazyflie_controller)/launch/my_cf2.launch">
      <arg name="frame" value="$(arg frame2)" />
    </include>

    <node name="pose" pkg="waypoint_vicon" type="gw21.py" output="screen">
      <param name="frame" value="$(arg frame2)" />
    </node>
  </group>

  <group ns="crazyflie3">
    <include file="$(find my_crazyflie_driver)/launch/my_crazyflie_add.launch">
      <arg name="uri" value="$(arg uri3)" />
      <arg name="tf_prefix" value="crazyflie3" />
      <arg name="enable_logging" value="False" />
    </include>

    <node name="joystick_controller" pkg="my_crazyflie_controller" type="myController.py" output="screen">
      <param name="use_crazyflie_controller" value="True" />
      <param name="joy_topic" value="/joy" />
    </node>

    <include file="$(find my_crazyflie_controller)/launch/my_cf2.launch">
      <arg name="frame" value="$(arg frame3)" />
    </include>

    <node name="pose" pkg="waypoint_vicon" type="gw31.py" output="screen">
      <param name="frame" value="$(arg frame3)" />
    </node>
  </group>

  <!-- run vicon bridge -->
  <include file="$(find vicon_bridge)/launch/vicon.launch"/>

</launch>
