<?xml version="1.0"?>

<launch>
  <!--参数基本不变吧-->
  <arg name="uri" default="radio://0/80/2M" />
  <arg name="tf_prefix" default="" />
  <arg name="roll_trim" default="0" />
  <arg name="pitch_trim" default="0" />
  <arg name="enable_logging" default="True" />
  <arg name="use_ros_time" default="False" />
  <arg name="enable_logging_imu" default="False" />
  <arg name="enable_logging_temperature" default="False" />
  <arg name="enable_logging_magnetic_field" default="False" />
  <arg name="enable_logging_pressure" default="False" />
  <arg name="enable_logging_battery" default="False" />

  <node pkg="crazyflie_driver" type="crazyflie_add" name="crazyflie_add" output="screen">
    <param name="uri" value="$(arg uri)" />
    <param name="tf_prefix" value="$(arg tf_prefix)" />
    <param name="roll_trim" value="$(arg roll_trim)" />
    <param name="pitch_trim" value="$(arg pitch_trim)" />
    <param name="enable_logging" value="$(arg enable_logging)" />
    <param name="use_ros_time" value="$(arg use_ros_time)" />
    <param name="enable_logging_imu" value="$(arg enable_logging_imu)" />
    <param name="enable_logging_temperature" value="$(arg enable_logging_temperature)" />
    <param name="enable_logging_magnetic_field" value="$(arg enable_logging_magnetic_field)" />
    <param name="enable_logging_pressure" value="$(arg enable_logging_pressure)" />
    <param name="enable_logging_battery" value="$(arg enable_logging_battery)" />     
    <!--这边多添加了几个参数的呢，用来调试的-->
    <rosparam>
        genericLogTopics: ["control","pwm1","pwm2","stable"]
        genericLogTopicFrequencies: [30,30,30,30]
        genericLogTopic_control_Variables: ["controller.actuatorThrust","controller.ctr_roll","controller.ctr_pitch","controller.ctr_yaw",]
        genericLogTopic_pwm1_Variables: ["motor.m4", "motor.m1"]
        genericLogTopic_pwm2_Variables: ["motor.m2", "motor.m3"]
        genericLogTopic_stable_Variables: ["stabilizer.roll", "stabilizer.pitch", "stabilizer.yaw"]
    </rosparam>
  </node>
</launch>
